In [ ]:
#Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
#The title of the notebook is "Data Science with JupyterLite".

In [ ]:
#Exercise 3 - Create a markdown cell for an introduction. (1 pt)
#The introduction to the notebook provides an overview of data science and JupyterLite. It also explains the purpose of the notebook and what it will cover.

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
#The data science languages listed in the notebook are Python, R, and Julia.

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
#The data science libraries listed in the notebook are NumPy, SciPy, Pandas, Matplotlib, and Seaborn.

In [ ]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
#The Data Science tools listed in the notebook are JupyterLite, GitHub, and Binder.

In [ ]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

#The arithmetic expression examples listed in the notebook are:

#2 + 3 = 5
#5 * 6 = 30
#10 / 2 = 5
#60 / 60 = 1

In [1]:
#Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

def multiply_and_add(x, y):
 

  product = x * y
  sum = x + y
  return product, sum


if __name__ == "__main__":
  product, sum = multiply_and_add(2, 3)
  print("The product of 2 and 3 is", product)
  print("The sum of 2 and 3 is", sum)

The product of 2 and 3 is 6
The sum of 2 and 3 is 5

In [2]:
#Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

def minutes_to_hours(minutes):
 
  hours = minutes / 60
  return hours


if __name__ == "__main__":
  hours = minutes_to_hours(60)
  print("60 minutes is equal to", hours, "hours")

60 minutes is equal to 1.0 hours

In [ ]:
#Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

#The objectives of the notebook are to:

#Introduce data science and JupyterLite.
#List the data science languages, libraries, and tools.
#Provide examples of arithmetic expressions.
#Demonstrate how to multiply and add numbers in code.
#Demonstrate how to convert minutes to hours in code.

In [3]:
#Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

#The author of the notebook is Pramoth K J.